html{
    background: rgb(220,220,220);
}

.sticky{
    background: url("images/note.png") no-repeat;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 50px 25px 25px 25px;
}

.note p{
    overflow-y: auto;
    max-height: 90px;
}

.sticker{
    width: 75px;
    height: 75px;
    background: url('images/sticker.png') no-repeat; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    color: rgb(250,250,250);
    border: none;
}

.sticker:hover{
    border: solid;
    border-radius: 37px
}

.sticker:active{
    color: rgb(135,206,250);
}

#cork{
    padding: 10px;
    display: flex;
    height: 80%;
    width: 100%;
    background: url('images/corkboard.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    border: solid;
    border-width: 5px;
    border-color: rgb(153, 76, 0);
    margin: 25px;
}

.flexcenter{
    display: flex;
    width: 100%;
    justify-content: center;
}

#createNew{
    display: flex;
    flex-direction: column;
}

#createNew input[type="text"]{
    padding: 12px 20px;
}

#submitNew{
    align-self: flex-end;
}

.search{
    padding: 5px 10px;
}