{% load static %}
<!DOCTYPE html>
<head>
    <title>Edit Note!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
    <script src="{% static 'notes/filter.js' %}"></script>
</head>
<body>
    <div id="title-area">
        <h1>Pin it!</h1>
        <div><input type="text" id="searchField" class="search"/><button id="searchButton" class="search" type="submit" onclick="search()">Search</button></div>
    </div>
    <div class="flexcenter">
        <div id="cork">
            <form action="{% url 'notes:add' %}" method="post">
                {% csrf_token %}
                <div class="sticky createNew">
                    <input type="text" placeholder="New Note" name="title"/>
                    <textarea placeholder="content goes here" rows="6" name="content"></textarea>
                    <input id='submitNew' class="sticker" type="submit" />
                </div>
            </form>
            {% if note_list %}
            {% for note in note_list %}
                <div class="sticky note">
                    <h2>{{note.note_title}}</h2>
                    <p>{{note.note_content}}</p>
                    <form action="{% url 'notes:edit' note.id %}">
                        <button class="sticker">edit</button>
                    </form>
                    <form action="{% url 'notes:delete' note.id %}" method="delete">
                        <button class="sticker">delete</button>
                    </form>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>